*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    color: #fff;
}

body {
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 400px;
    background: linear-gradient(135deg, #36a0db, #407eb7);
    box-shadow: inset 0 0 100px 0px rgb(0 0 0 / 0.3);
}

main {
    flex-grow: 1;
    background: linear-gradient(135deg, #36a0db, #4e87a7);
    box-shadow: inset 0 0 100px 0px rgb(0 0 0 / 0.3);
    padding: 100px;
}

h1 {
    padding: 15px 0;
    margin-bottom: 70px;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 5px solid #fff;
}

.projects {
    text-transform: capitalize;
    padding: 0 30px 0 50px;
    font-size: 1.8rem;
}

.project {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.project:not(:last-child) {
    margin-bottom: 25px;
}

.project::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    aspect-ratio: 1;
    background-color: currentColor;
    border-radius: 50%;
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
}

.todo {
    display: flex;
    align-items: center;
    border-bottom: 5px solid #fff;
    padding-bottom: 10px;
    padding-right: 10px;
    gap: 30px;
}

.todo:not(:last-child) {
    margin-bottom: 30px;
}

.todo:last-child {
    margin-bottom: 15px;
}

.priority {
    appearance: none;
    cursor: pointer;
    width: 16px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
}

.priority:checked {
    background-color: #fff;
    display: grid;
    place-items: center;
}

.priority:checked::before {
    content: "✔";
    color: #000;
    font-weight: bold;
}

.priority:checked + .todo-body {
    text-decoration: line-through;
}

.priority-low {
    background-color: #999999;
}

.priority-medium {
    background-color: #6fb4e7;
}

.priority-high {
    background-color: #f26f26;
}

.todo-body {
    cursor: pointer;
    flex-grow: 1;
    transition: transform 500ms;
}

.todo-body:hover {
    transform: scale(1.02);
}

.todo-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.todo-description {
    margin-bottom: 5px;
}

.todo-due-date {
    display: flex;
    gap: 10px;
}

.todo .mdi-trash-can-outline {
    cursor: pointer;
    font-size: 2rem;
}

.todo-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(255 255 255 / 0.5);
    margin-bottom: 10px;
    padding: 20px 20px 20px 46px;
}

.todo-form :is(input, textarea) {
    background-color: transparent;
    border: none;
    outline: none;
}

.todo-form textarea {
    resize: none;
}

.todo-form textarea::-webkit-scrollbar {
    display: none;
}

.todo-form [name="title"] {
    font-size: 1.2rem;
}

.todo-form [name="description"] {
    font-size: 1rem;
}

.form-bottom-row {
    display: flex;
    gap: 30px;
    align-items: center;
}

.todo-form [name="priority"] {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.todo-form button {
    margin-left: auto;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    background-color: #6fb4e7;
}

.add-task {
    cursor: pointer;
    color: #f8f034;
    font-size: 1.3rem;
    display: flex;
    gap: 15px;
}

.plus-sign {
    position: relative;
    width: 15px;
    display: grid;
    place-items: center;
}

.plus-sign::before,
.plus-sign::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 4px;
    background-color: currentColor;
}

.plus-sign::after {
    transform: rotateZ(90deg);
}
